<% url = params[:meta][:featured_video] rescue false || @post.get_meta("featured_video", "") %>
<% if @post.manage_picture?(@post_type) %>
    <div class="panel panel-default panel-lite">
      <div class="panel-heading">
        <h3 class="panel-title">Featured Video</h3>
        <ul class="panel-controls">
          <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
        </ul>
      </div>
      <div class="panel-body ">
        <div class="form-group">
          <div id="feature-video" class="gallery">
            <a class="gallery-item" style="width: 100%; padding: 0; <%= 'display: none;' unless url.present? %>" href="#" title="Thumbnail" data-gallery="">
              <div class="image">
                <img src="<%= url.sub('/player', '/thumb') %>" class="img-rounded img-responsive" alt="Thumbnail">
                <span class="btn btn-primary btn-xs" onclick="cama_vzaar_upload_featured_video_clear($(this))"><i class="fa fa-times"></i></span>
              </div>
            </a>
            <input class="" name="meta[featured_video]" type="hidden" value="<%= url %>"/>
          </div>
          <a href="#" class="btn btn-default" onclick="cama_vzaar_upload_featured_video($(this)); return false;"><i class="fa fa-upload"></i> Upload Featured Video</a>
          <div class="validation-errors"></div>
        </div>
      </div>
    </div>
<% end %>
<script>
  function cama_vzaar_upload_featured_video_clear(ele){
      var p = ele.closest('.form-group');
      p.find('input').val('');
      p.find('.gallery-item').hide();
  }
  function cama_vzaar_upload_featured_video(ele){
      var p = ele.closest('.form-group');
      // url: //view.vzaar.com/10456199/player
      // thumb: 'https://view.vzaar.com/10456199/thumb'
      $.fn.upload_filemanager($.extend({
          formats: "video",
          selected: function (image) {
              var url = image.url;
              /*if(url.search('vzaar') < 0){
                  alert('Invalid Vzaar video')
                  return;
              }*/
              p.find('input').val(url);
              p.find('img').attr('src', url.replace('/player', '/thumb'))
              p.find('.gallery-item').show();
          }
      }));
  }
</script>