<div class="form-group">
  <input name="meta[is_required_picture]" type="hidden" value="false"/>
  <label class="check0"><%= check_box_tag 'meta[enable_vzaar_featured_video]', true, @post_type.get_option('enable_vzaar_featured_video', false) %> Enable Featured Video</label>
</div>